body,HTML{
  margin:0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);

}

.outside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  width: 20rem;
  box-shadow: 0 10px 10px 5px hsl(229, 6%, 86%);
  border-radius: 5px;
}

img{
  float: right;
}

#headerone{
  font-size: 2rem;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  margin-top: 20px;
}

#headertwo{
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}


#headerthree{
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: hsl(229, 6%, 66%);
}

#headerfour{
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: hsl(229, 6%, 66%);
}

p{
  text-align: center;
  color: hsl(234, 12%, 34%);
}

.outside p{
  color: hsl(229, 6%, 66%);
  text-align: left;
}

/* .one{
  border-top: 5px solid hsl(212, 86%, 64%)
} */

.one::before{
  width: 100%;
  content: "";
  height: 5px;
  background-color: hsl(180, 62%, 55%);
  border-radius: 50px 50px 0 0;
}

.two::before{
  width: 100%;
  content: "";
  height: 5px;
  background-color: hsl(0, 78%, 62%);
  border-radius: 50px 50px 0 0;
}

.three::before{
  width: 100%;
  content: "";
  height: 5px;
  background-color: hsl(34, 97%, 64%);
  border-radius: 50px 50px 0 0;
}

.four::before{
  width: 100%;
  content: "";
  height: 5px;
  background-color: hsl(212, 86%, 64%);
  border-radius: 50px 50px 0 0;
}

@media screen and (max-width:425px) {
  .outside{
    flex-direction: column;
  }
  .card{
    margin-left: auto;
    margin-right: auto;
  }
}
